@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply bg-neutral-200;
    @apply text-neutral-950;
}

@media (prefers-color-scheme: dark) {
    :root {
        @apply bg-neutral-950;
        @apply text-neutral-200;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: "Funnel Display", sans-serif;
}
